<form class="form-control">

    <span class="bookings">Booking form</span>
<mat-form-field color="accent">
  
    <input matInput required="please fill in your name">
<mat-label>Name</mat-label>
</mat-form-field>

<mat-form-field color="warn">
    <input matInput>
    <mat-label>Surname</mat-label>
</mat-form-field>

<mat-form-field>
    <input matInput>
    <mat-label>Email</mat-label>
</mat-form-field>

<mat-form-field color="warn">
    <input matInput>
    <mat-label>Password</mat-label>
</mat-form-field>



</form>
