<p>
  <mat-toolbar>
    <div>
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
      <mat-icon>menu</mat-icon>
    </button>
  </div>
 
    <span>Kwazi's Clothing Store</span>
    <span class="example-spacer"></span>
  
      <mat-radio-group aria-label="Select an option">
        <span>Payment Option</span>
        <mat-radio-button value="2">Credit Card</mat-radio-button>
        <mat-radio-button value="3">Cash</mat-radio-button>
      
      </mat-radio-group>    
  </mat-toolbar>
</p>
 
<div class="mainSection">
  <mat-list role="list" >
    <mat-list-item role="listitem"  class="item1">SHOP ALL WOMEN</mat-list-item> 
    <mat-list-item role="listitem"  class="item2">SHOP ALL MEN</mat-list-item>
    <mat-list-item role="listitem"  class="item3">SHOP ALL KIDS</mat-list-item>
  <mat-list-item role="listitem"  class="item4">SHOP FOR A HOUSE</mat-list-item>
  </mat-list>
<mat-progress-bar mode="indeterminate"></mat-progress-bar>
</div>




  
